  body {
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: lightseagreen;
        }

        h2 {
            text-align: center;
        }

        .highlight {
            background-color: #dff0d8;
        }

        .lowlight {
            background-color: #f2dede;
        }
        thead{
            text-align: center;
        }

h1,h2{
    font-family: "Dancing Script", cursive;
}
.main{
    font-family: "Dancing Script", cursive;
}